@model CodeGen.Model.PrimaryLink.PrimaryModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "User Permission";
    var listData = ViewBag.GetAlldetails as List<CodeGen.Model.Set_Permission.SetPermissionDetails>;

    var x = ViewBag.UserListddl;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
@section Scripts {
    @*<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>*@
    <script src="~/js/AdminConsole/HierarchyMaster.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Permission Management</title>
    <!-- Add your CSS links and scripts here -->
</head>
<body>
    <div class="section">
        <div class="page-title">
            <div class="title-details">
                <h4>Set User Permission</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                        <li class="breadcrumb-item">Set User Permission</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <!-- Consider removing navigation tabs if you only have one tab -->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Set User Permission</a>
                        </li>
                    </ul>
                    <div class="indicatorslist">
                        <p class="ml-2 text-danger">(*) Indicates mandatory</p>
                    </div>
                </div>
                <div class="card-body" id="fetch">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <label class="col-form-label pt-0">Project Link<span class="text-danger">*</span></label>
                            <select asp-for="INTPROJECTLINKID" asp-items="@(new SelectList(Model.ViewProjectLinkList,"INTPROJECTLINKID","NVCHPROJECTLINKNAME"))" id="ddlProjectLink" onchange="return BindGlobalLink();" class="form-control ddlProjectLink" autofocus>
                                <option value="">--Select Project Link--</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label class="col-form-label pt-0">Global link<span class="text-danger">*</span></label>
                            <select asp-for="GlinkId" class="ddlGlobalLink form-control" id="ddlGlobalLink" onchange="return BindPrimarylink();">
                                <option value="0">--Select Global Link--</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label class="col-form-label pt-0">Primary link<span class="text-danger">*</span></label>
                            <select asp-for="INTPLINKID" class="ddlPrimaryLink form-control" id="ddlPrimaryLink" onchange="return BindButton();" autofocus="autofocus">
                                <option value="0">--Select Primary Link--</option>
                                <!-- Add options dynamically here -->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label class="col-form-label pt-0">Button link<span class="text-danger">*</span></label>
                            <select asp-for="BUTTONID" class="ddlbutton form-control" id="ddlbutton" autofocus="autofocus">
                                <option value="0">--Select Button--</option>
                                <!-- Add options dynamically here -->
                            </select>
                        </div>
                        
                        <div class="col-lg-auto col-md-6 align-content-xxl-start">
                            <input type="button" id="SearchData" name="search record" value="Search" placeholder="Ser.." class="btn btn-success btnsave float-right">
                        </div>
                        <div class="table-responsive">
                            <table style="width:100%" class="table table-bordered cell-border" id="UserTable">
                                <h5><label class="nav-link active col-lg-auto align-content-lg-start">Add or Remove User Permission</label></h5>
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Primary Link</th>
                                        <th>Button</th>
                                        <th>Tab</th>
                                        <th>Priviledge User</th>
                                        <th>Proviledge Role</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbody">
                                    @if (listData != null)
                                    {
                                        int Count = 1;
                                        foreach (var item in listData)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => Count)</td>
                                                <td class="plinkname">@Html.DisplayFor(modelItem => item.NVCHPLINKNAME)</td>
                                                <td class="buttonname">@Html.DisplayFor(modelItem => item.BUTTONNAME)</td>
                                                <td class="tabName">@Html.DisplayFor(modelItem => item.TABNAME) <input type="hidden" id="Tabid" name="tabId" value="@item.TABID" /></td>
                                                <td>
                                                    <div class="col-lg-2 col-12">
                                                        <div class="form-group mb-1">
                                                            <div class="">
                                                                <select asp-items="@item.Userlist" class="form-control searchableselect select ddluser" id="ddluserupdate-@Count" name="ddluser" autofocus="autofocus" style="height: 50px; width: 200px;" multiple>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-2 col-12">
                                                        <div class="form-group mb-1">
                                                            <div class="">
                                                                <select asp-items="@item.Rolelist" class="form-control searchableselect select ddluserrole" id="ddluserupdaterole-@Count" name="ddluserrole" autofocus="autofocus" style="height: 50px; width: 200px;" multiple>
                                                                    @* Razor Syntax *@
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            Count++;
                                            <!-- Increment the count within the loop -->
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" align="center">No record found!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 align-content-center">
                            <button type="button" name="Update" id="btnupdate" class="btn btn-primary mb-1 white-text" title="Update" value="Update">Submit</button>
                            @*<input type="button" id="btnDelete" value="Delete" class="btn btn-danger mb-1 white-text" title="Delete" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add your JavaScript scripts here -->
</body>
</html>
@*<script src="d:\adminconsol\codegensampleproj\claimbasetest.web\userpermission.js"></script>*@
<script>

    function BindGlobalLink() {
        debugger;
        var ProjectId = $('#ddlProjectLink').val();
        
        var data = {
            projId: ProjectId

        };

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/SetPermission/BindGlobalLinkByProjectId")',
            data: data,
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger;
                if (response.length == 0) {

                } else {
                    //console.log(response);
                    $("#ddlGlobalLink").empty();
                    $("#ddlGlobalLink").append($('<option value="0">--Select Global Link--</option>'));
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            $("#ddlGlobalLink").append($('<option/>')
                                .val(response[i].intGLinkID)
                                .html(response[i].nvchGLinkName)
                            );
                        }

                    }

                }



            },
            error: function (error) {
                console.log(error);
            }
        });
        return true;
    }

    function BindPrimarylink() {
        debugger;
        var Globid = $('#ddlGlobalLink').val();
        var data = {
            Globid: Globid

        };

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/SetPermission/BindPrimaryLinkByGlobalID")',
            data: data,
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.length == 0) {

                } else {
                    debugger;
                    //console.log(response);
                    $("#ddlPrimaryLink").empty();
                    $("#ddlPrimaryLink").append($('<option value="0">--Select Primary Link--</option>'));
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            $("#ddlPrimaryLink").append($('<option/>')
                                .val(response[i].primaryid)
                                .html(response[i].primaryname)
                            );
                        }

                    }

                }
            },
            error: function (error) {
                console.log(error);
            }
        });
        return true;


    }
    function BindButton() {
        debugger;
        var Primid = $('#ddlPrimaryLink').val();
        var data = {
            Primid: Primid

        };

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/SetPermission/GetButtonByPrimaryLink")',
            data: data,
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.length == 0) {

                } else {
                    debugger;
                    //console.log(response);
                    $("#ddlbutton").empty();
                    $("#ddlbutton").append($('<option value="0">--Select Button--</option>'));
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            $("#ddlbutton").append($('<option/>')
                                .val(response[i].buttonid)
                                .html(response[i].buttonname)
                            );
                        }
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
        return true;
    }
</script>

<script>
    $(document).ready(function () {
        $("select.ddluser").each(function () {
            $(this).select2();
        });

        $("select.ddluserrole").each(function () {
            $(this).select2();
        });

        debugger;
        var urlParams = new URLSearchParams(window.location.search);
        var Projectid = urlParams.get('Projectid');
        var globalLinkId = urlParams.get('globalLinkId');
        var primaryLinkId = urlParams.get('primaryLinkId');
        var buttonId = urlParams.get('buttonId');

        $('#ddlProjectLink').val(Projectid);
        $('#ddlProjectLink').trigger('change');
        $('#ddlGlobalLink').val(globalLinkId);
        $('#ddlGlobalLink').trigger('change');
        $('#ddlPrimaryLink').val(primaryLinkId);
        $('#ddlPrimaryLink').trigger('change');
        $('#ddlbutton').val(buttonId);

      

        $("#btnupdate").off("click").on("click", function () {
            debugger;
            var formDataArray = [];
            var filedata = new FormData();
            var userid = '';
            // Loop through each row
            $("#tblbody tr").each(function () {
                var item = {};
                var $row = $(this);
                var hasZeroValue = false;

                // Collect data for this row
                item.INTPROJECTLINKID = $("#ddlProjectLink").val();
                item.INTGLOBALLINKID = $("#ddlGlobalLink").val();
                item.INTPRIMARYTLINKID = $("#ddlPrimaryLink").val();
                item.INTBUTTONLINKID = $("#ddlbutton").val();
                item.TabName = $row.find("td").eq(3).text();
                item.TABID = $row.find("input[name='tabId']").val();

                var selectedValues = [];
                $row.find('select[id^="ddluserupdate"]:first').each(function () {
                    var val = $(this).val();
                    selectedValues.push((val !== null && val !== undefined) ? val : ''); // Check for null or undefined values and replace them with '0'
                });
                console.log("Number of selected options role:", selectedValues.length);
                console.log(selectedValues);

                var selectedValuesrole = [];

                $row.find('select[id^="ddluserupdaterole"]:first').each(function () {
                    var val = $(this).val();
                    console.log("Selected value role:", val); // Debugging statement
                    selectedValuesrole.push(val !== null ? val : '0'); // If value is empty, set it to zero
                });
                console.log("Number of selected options role:", selectedValuesrole.length);



                // Check if any dropdown has data
                if (selectedValues.length === 0) {
                    return true; // Continue to next iteration
                }
                if (selectedValuesrole.length === 0) {
                    return true; // Continue to next iteration
                }
                var userid = selectedValues.join(',');
                item.UserIds = userid;

                var roleid = selectedValuesrole.join(',');
                item.RoleIds = roleid;

                formDataArray.push(item);
                
            });

            // If formDataArray is empty, no dropdown had data, so return false
            if (formDataArray.length === 0) {
                return false;
            }

            filedata.append("UserSet", JSON.stringify(formDataArray));
            UpdateData(filedata);
        });
    });
 
    function UpdateData(setPermissionModel) {
        debugger;
        $.ajax({
            type: "POST",
            url: '/SetPermission/UpdateUserdetail', // Assuming correct URL for the server endpoint
            data: setPermissionModel,
            contentType: false,
            processData: false,
            success: function (response) {
                // Handle success response
                alert("Permission given to the user  Successfully");
               
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle error response
                //console.error("Error sending data for row " + (index + 1) + ": " + textStatus);
            }
        });
    }

    $('#SearchData').click(function () {
        debugger;
        
        var $row = $(this);
        // Get values from dropdowns
        var Projectid = $('#ddlProjectLink').val();
        var globalLinkId = $('#ddlGlobalLink').val();
        var primaryLinkId = $('#ddlPrimaryLink').val();
        var buttonId = $('#ddlbutton').val();
        //var tabid = $row.find("input[name='tabId']").val();
        if (Projectid === '') {
            alert('Please select a Project ');
            return false;
        } else if (globalLinkId === '' || globalLinkId === '0') {
            alert('Please select a global link ');
            return false;
        } else if (primaryLinkId === '' || primaryLinkId === '0') {
            alert('Please select a primary link ');
            return false;
        } else if (buttonId === '' || buttonId === '0') {
            alert('Please select a button');
            return false;
        }
        // Prepare data for the AJAX request
        var requestData = {
            Projectid: Projectid,
            globalLinkId: globalLinkId,
            primaryLinkId: primaryLinkId,
            buttonId: buttonId,
            //tabid:tabid
        };
        location.href = "/SetPermission/UserPermission?Projectid=" + Projectid + "&globalLinkId=" + globalLinkId + "&primaryLinkId=" + primaryLinkId + "&buttonId=" + buttonId;
    });
</script>
